<footer class="mt-48 mt-md-24 py-64 py-md-32">
    <div class="saleInfo flex justify-center align-center bg-primary-200 py-24 mb-64 mb-md-32">
        <h4 class="h4 mr-24 h5-md">加入會員取得 9 折優惠</h4>
        <button class="btn btn-block text-md">馬上註冊</button>
    </div>
    <div class="website">
        <div class="container">
            <div class="flex align-center mb-24 flex-direction-column-md align-start-md mb-md-24">
                <div class="logo"><img src="/assets/images/logo.svg" alt="logo"></div>
                <nav>
                    <ul class="flex flex-direction-column-md">
                        <li><a href="" class="py-12 text-btn">商品列表</a></li>
                        <li><a href="" class="py-12 text-btn">品牌故事</a></li>
                    </ul>
                </nav>
            </div>
            <div class="copyright text-neutral-600 text-sm">
                <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>