<header>
    <div class="container">
        <div class="flex align-center py-16">
            <div class="logo"><a href=""><img src="/assets/images/logo.svg" alt="logo"></a></div>
            <nav class="d-md-none">
                <ul class="flex">
                    <li><a href="" class="py-12 text-btn">商品列表</a></li>
                    <li><a href="" class="py-12 text-btn">品牌故事</a></li>
                </ul>
            </nav>
            <div class="login"><a href="#" class="py-16 py-md-12 h3 text-btn"><i class="bi bi-person"></i></a></div>
        </div>
    </div>
</header>