/*按鈕元件*/
.btn{
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: transparent;
}

.btn-block{
    color: $neutral-0;
    background-color: $neutral-900;
}
.btn-block:hover{
    background-color: $neutral-800;
}


.btn-white{
    border: 1px solid $neutral-900;
}
.btn-white:hover{
    background-color: $neutral-800;
    border: 1px solid $neutral-800;
    color: $neutral-0;
}

.btn-primary-300{
    color: $neutral-900;
    background-color: $primary-300;
}
.btn-primary-300:hover{
    background-color: $primary-200;
}

.text-btn:hover{
    color: $primary-400;
}