footer{
    background-color: $neutral-100;
    margin-top: 64px;
    padding-bottom: 64px;
}

.website nav{
    margin-left: auto;
}

.copyright{
    text-align: center;
    border-top: 1px solid $neutral-300;
    padding-top: 32px;
}

footer ul li a{
    display: inline-block;
}

@media(max-width:767px){
    footer{
        margin-top: 32px;
        padding-bottom: 32px;
    }
    .website nav{
        margin-left: 12px;
    }
}