/*通用設定*/
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container-636{
    max-width: 636px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.d-none{
    display: none;
}

@media(max-width:767px){
    .d-md-block{
        display: block;
    }
    .d-md-none{
        display: none;
    }
}

.display1{
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;   
}

.display2{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;   
}

.h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.h3{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.h4{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h5{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.h6{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.text-md{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.text-sm{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
.text-lg{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

@media(max-width:767px){
    .display2-md{
        font-size: 48px; 
    }
    .h2-md{
       font-size: 32px; 
    }
    .h3-md{
       font-size: 28px; 
    }
    .h4-md{
       font-size: 24px; 
    }
    .h5-md{
       font-size: 20px; 
    }
    .h6-md{
       font-size: 16px; 
    }
    .text-md-md{
        font-size: 16px;
    }
    .text-sm-md{
        font-size: 14px;
    }
}

.text-primary-300{
    color: $primary-300;
}

.text-primary-400{
    color: $primary-400;
}

.text-primary-500{
    color: $primary-500;
}

.text-neutral-0{
    color: $neutral-0;
}
.text-neutral-500{
    color: $neutral-500;
}
.text-neutral-600{
    color: $neutral-600;
}

.text-danger-300{
    color: $danger-300;
}

.bg-primary-100{
    background-color: $primary-100;
}
.bg-primary-200{
    background-color: $primary-200;
}

.bg-primary-300{
    background-color: $primary-300;
}
.bg-neutral-100{
    background-color: $neutral-100;
}
.bg-neutral-900{
    background-color: $neutral-900;
}

.flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.row{
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12);
}
.col-2{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*2);
}
.col-3{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*3);
}
.col-4{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*4);
}
.col-5{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*5);
}
.col-6{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*6);
}
.col-7{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*7);
}
.col-8{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*8);
}
.col-9{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*9);
}
.col-10{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*10);
}
.col-11{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*11);
}
.col-12{
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content:flex-end;
}

.align-center{
    align-items: center;
}

@media(max-width:767px){
    .flex-md{
        display: flex;
    }
    .flex-wrap-nowrap-md{
        flex-wrap: nowrap;
    }
    .flex-direction-column-md{
        flex-direction: column;
    }
    .gap-md-4{
        gap: 4;
    }
    .gap-md-8{
        gap: 8;
    }
    .align-start-md{
        align-items: start;
    }
    .row{
        margin-left: -6px;
        margin-right: -6px;
    }
    .col-md-1{
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100%/4);
    }
    .col-md-2{
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100%/4*2);
    }
    .col-md-3{
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100%/4*3);
    }
    .col-md-4{
        padding-left: 6px;
        padding-right: 6px;
        width: 100%;
    }
    .justify-md-start{
        justify-content: flex-start;
    }
}


.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-16{
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-24{
    padding-top: 24px;
    padding-bottom: 24px;
}
.py-32{
    padding-top: 32px;
    padding-bottom: 32px;
}
.py-40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.py-48{
    padding-top: 48px;
    padding-bottom: 48px;
}
.py-64{
    padding-top: 64px;
    padding-bottom: 64px;
}
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.py-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-64{
    margin-bottom: 64px;
}
.mr-8{
    margin-right: 8px;
}
.mr-12{
    margin-right: 12px;
}
.mr-24{
    margin-right: 24px;
}

.mt-48{
    margin-top: 48px;
}

@media(max-width:767px){
    .py-md-12{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .py-md-16{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .py-md-24{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .py-md-32{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .py-md-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .py-md-64{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .mb-md-0{
        margin-bottom: 0;
    }
    .mb-md-4{
        margin-bottom: 4px;
    }
    .mb-md-8{
        margin-bottom: 8px;
    }
    .mb-md-12{
        margin-bottom: 12px;
    }
    .mb-md-16{
        margin-bottom: 16px;
    }
    .mb-md-24{
        margin-bottom: 24px;
    }
    .mb-md-32{
        margin-bottom: 32px;
    }
    .mt-md-24{
        margin-top: 24px;
    }
}





