<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>productList</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
        <div class="container py-32 py-md-16">
            <ol class="flex breadcrumb mb-24 mb-md-12">
                <li class="text-sm-md"><a href="">首頁</a></li>
                <li class="text-sm-md">所有商品</li>
            </ol>
            <h3 class="h3 mb-24 mb-md-12 h4-md">女鞋</h3>
            <div class="row  mb-48 mb-md-24">
                <div class="col-2 d-md-none">
                    <ul class="filterList">
                        <li class="mb-16 active"><a href="" class="py-8">所有商品</a></li>
                        <li class="mb-16"><a href="" class="py-8">慢跑鞋</a></li>
                        <li class="mb-16"><a href="" class="py-8">滑板鞋</a></li>
                        <li class="mb-16"><a href="" class="py-8">厚底鞋</a></li>
                        <li class="mb-16"><a href="" class="py-8">限定 / 聯名企劃</a></li>
                    </ul>
                </div>
                <div class="col-10 col-md-4">
                    <ul class="row productList flex-wrap mb-48 mb-md-8">
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                        <li class="col-4 col-md-2 mb-48 mb-md-24 d-none d-md-block">
                            <a href="./productInfo.html">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true" alt="鞋子PLATFORM 404">
                                <h6>PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="flex justify-center align-center pageList">
                        <li class="mr-12"><button type="button" class="btn"><i class="bi bi-chevron-left"></i></button></li>
                        <li class="active"><button type="button" class="btn">1</button></li>
                        <li class="mr-8"><button type="button" class="btn">2</button></li>
                        <li class="mr-8"><button type="button" class="btn">3</button></li>
                        <li class="mr-8"><button type="button" class="btn">...</button></li>
                        <li class="mr-12"><button type="button" class="btn">10</button></li>
                        <li><button type="button" class="btn"><i class="bi bi-chevron-right"></i></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
